/*body styles
typography
buttons and links
header/nav
content by section
forms
footer
mobile

BRAND COLORS
#F2F4F4 - white
#424045 - smoky gray
#630716 - maroon
#f4e1d9 - rose pink
#708075 - eucalyptus green
#cc9e63 - blazerod gold (hehe if you get this reference)
*/

/*-----------------------------------------------
BODY
------------------------------------------------*/
body {
/*  margin: 2em;*/
background-color: #f4e1d9;
}
body,html{
  height:100%;
}
aside {
    background: #1f8dd6;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
}
h2 {
  font-family:'Sudestada';
}

h3 {
  font-family:'Radley',serif;

}
p{
  font-family:'Radley',serif;
}
/*-----------------------------------------------
SHeader/Navigation
------------------------------------------------*/
.nav{
  overflow:hidden;
  position:fixed;
  top:10px;
  width: 100%;
}

.nav-item {
  font-family: 'Radley', serif;
  text-transform: uppercase;
  padding:0px 20px;
}

/*.nav .nav-item{
  float:left;
  display:block;
  text-align:center;
}*/
.navbar-wrap.fixed-top{
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-wrap.fixed-top .navbar{
  width: 90%;
  margin:0 auto;
  padding-right: 0;
  padding-left:0;
}
.navbar-light .navbar-nav .nav-link{
    font-size: 1.1em;
    color: #fff;
    letter-spacing: 2px;
    transition: all 300ms
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover::after{
  opacity:1;
}
.navbar-light .navbar-nav .nav-link::after{
    content: '';
    height: 2px;
    width: 100%;
    background: #cc9e63;
    display: block;
    margin-top: 2px;
    opacity: 0;
    transition: all 300ms;
}
.nav-item:last-child {
    padding-right: 0;
}
a.navbar-brand {
    background-image: url('images/tseung-logo.svg');
    background-repeat: no-repeat;
    min-height: 70px;
    height: auto;
    width: 100px;
    max-width: 100%;
    transition: all 300ms;
}
.navbar-wrap.fixed-top.scroll {
    background: rgba(255,255,255,1);
    height: 80px;
    transition: all 300ms;
    -webkit-box-shadow: 0px 4px 15px 0px rgba(66,64,69,0.5);
-moz-box-shadow: 0px 4px 15px 0px rgba(66,64,69,0.5);
box-shadow: 0px 4px 15px 0px rgba(66,64,69,0.5);
}
.scroll .navbar-light .navbar-nav .nav-link{
    color: #434146;
    font-size:1em;
}
.scroll a.navbar-brand {
    background-image: url('images/tseung-logo-gold.svg');
    min-height: 50px;
}
/*-----------------------------------------------
Section 1 - Landing
------------------------------------------------*/
#section-one {
  height:100%;
}
#section-one .home-hero{
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/tseung-proposal-6.jpg");
  height:50%;

  background-position:top center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  min-height:100%;
}

.hero-text{
  width: 100%;
  max-width: 750px;
  height: 50%;
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 53%;
  left: 50%;
}
.hero-text p {
  font-family:"Sudestada";
  line-height: 1;
  margin: 0;
  text-align: left;
  display:flex;
  justify-content: flex-start;
  width: 100%;
  transform: rotate(352deg);
  height: 180px;
  font-size: 13em;
  color: #fff;
}
.hero-text p:nth-child(2){
    justify-content: center;
}
.hero-text p:nth-child(3){
    justify-content: flex-end;
}
/*-----------------------------------------------
Section 2 - Info
------------------------------------------------*/
#section-two{
  padding: 10% 0;
/*  width: 90%;*/
  margin: 0 auto;
}

.section-two-image-wrap{
  width:auto;
}
.section-two-image-wrap img{
  max-width:100%;
  height:auto;

}
.section-two-image-wrap img {
    -webkit-box-shadow: -20px 22px 0px 0px rgba(99,7,22,1);
    -moz-box-shadow: -20px 22px 0px 0px rgba(99,7,22,1);
    box-shadow: -35px 37px 0px 0px rgba(99,7,22,1);
}

#section-two h2{
  font-size:6em;
  color:#cc9e63;
}

#section-two h3{
  color:#630716;
}

#section-two p{
  color:#424045;
}
#section-two .desc-text{
  vertical-align:bottom;
}
#section-two .row {
    align-items: flex-end;
}

/*-----------------------------------------------
Section 3 - RSVP form
------------------------------------------------*/
textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  /*text-transform: uppercase;*/
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
  font-size: 125%;
}
button {
  float: right;
}
#name, #email {
  width: 50%;
}
#section-three label{
  text-transform:uppercase;
  font-family:'Radley',serif;
}
/*.honeypot-field {
  display: none;
}*/
#section-three{
    width: 75%;
    margin: 0 auto;
    background: #fff;
    padding: 5% 10%;
}
#section-three form .form-elements{
    display:flex;
    flex-flow: row wrap;
    margin: 0 auto;
}
#section-three .pure-form fieldset{
    width: 100%;
}

/*-----------------------------------------------
Footer
------------------------------------------------*/
.copywrite {
    background: #424045;
}
.copywrite-content{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 16px 0;
}
.copywrite p{
    margin:0;
    color:#fff;
    opacity: 0.5;
    text-transform: lowercase;
}
/*-----------------------------------------------
Mobile
------------------------------------------------*/
@media only screen and (max-width: 1200px){
    .hero-text p{
        font-size: 9em;
        height: 150px;
    }
    .hero-text{
        max-width: 600px;
    }
    .navbar-light .navbar-nav .nav-link{
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 990px){
    .hero-text{
        max-width: 500px;
    }
}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 600px){

}
@media only screen and (max-width: 500px){

}