/*body styles
typography
buttons and links
header/nav
content by section
forms
footer
mobile

BRAND COLORS
#F2F4F4 - white
#424045 - smoky gray
#630716 - maroon
#f4e1d9 - rose pink
#708075 - eucalyptus green
#cc9e63 - blazerod gold (hehe if you get this reference)
*/

/*-----------------------------------------------
BODY
------------------------------------------------*/
body {
  margin: 2em;
}
body,html{
  height:100%;
}
aside {
    background: #1f8dd6;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
}
h2 {
  font-family:'Sudestada';
}

h3 {
  font-family:'Radley',serif;

}
p{
  font-family:'Radley',serif;
}
/*-----------------------------------------------
SHeader/Navigation
------------------------------------------------*/
.nav{
  overflow:hidden;
  position:fixed;
  top:10px;
  width: 100%;
}

.nav-item {
  font-family: 'Radley', serif;
  text-transform: uppercase;
  padding:0px 20px;
}

.nav .nav-item{
  float:left;
  display:block;
  text-align:center;
}
/*-----------------------------------------------
Section 1 - Landing
------------------------------------------------*/
#section-one {
  height:100%;
}
#section-one .home-hero{
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/tseung-proposal-6.jpg");
  height:50%;

  background-position:top center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  min-height:100%;
}

.hero-text{
  
}
.hero-text p {
  font-family:"Sudestada";
  font-size:200px;
  text-align:center;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:white;
}
/*-----------------------------------------------
Section 2 - Info
------------------------------------------------*/
#section-two{
  padding:10%;
  background-color:#f4e1d9;
}

.section-two-image-wrap{
  width:auto;
}
.section-two-image-wrap img{
  max-width:100%;
  height:auto;

}

#section-two h2{
  font-size:6em;
  color:#cc9e63;
}

#section-two h3{
  color:#630716;
}

#section-two p{
  color:#424045;
}
#section-two .desc-text{
  vertical-align:bottom;
}

/*-----------------------------------------------
Section 3 - RSVP form
------------------------------------------------*/
textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  /*text-transform: uppercase;*/
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
  font-size: 125%;
}
button {
  float: right;
}
#name, #email {
  width: 50%;
}
#section-three label{
  text-transform:uppercase;
  font-family:'Radley',serif;
}
/*.honeypot-field {
  display: none;
}*/

/*-----------------------------------------------
Footer
------------------------------------------------*/

/*-----------------------------------------------
Mobile
------------------------------------------------*/